

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-body">
		  	<h3>{{city.main}} <small> </h3>
		  	<hr>

		  	<div class="row">
				<div class="col-md-12">
					<input type="text" class="form-control" placeholder="Search station" ng-model="query">
				</div>
			</div>
			<br>

			<div class="row">
				<div class="col-md-12">
					<strong>Total: </strong><span class="label label-warning">{{city.stations.length}}</span>
				</div>
			</div>

			<br>

		  	<div class="list-group">
			  <a class="list-group-item" ng-repeat="station in city.stations | filter:query">
			    <h4 class="list-group-item-heading">{{station.name}} </h4>
			    <p class="list-group-item-text">
			    	<ul class="list-unstyled">
					  <li>Free bikes: {{station.free_bikes}}</li>
					  <li>Empty slots: {{station.empty_slots}}</li>
					</ul>
			    </p>
			  </a>
			</div>
		  </div>
		</div>
	</div>
</div>
